extends layout

block content
    link(rel="stylesheet" href="stylesheets/style.css")
    include includes/bubble_bg.pug

    .container-bg#container-bg
    .container#container
        h1 URL shortener and file uploader
        .spacer
        h1 ERROR
        h2= msg
    script(src="javascripts/script.js")
